*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  box-sizing: border-box;
  padding: 1.5rem; }

.card {
  font-size: 1.4rem;
  height: auto;
  background-color: #fdfdfd;
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem; }
  .card:hover {
    cursor: pointer;
    box-shadow: 0.1rem 0.2rem 1.5rem rgba(0, 0, 0, 0.35); }
  .card__text-box {
    padding: 1rem;
    position: relative;
    height: 19rem; }
  .card__image {
    width: 100%;
    height: 15rem;
    background-color: chartreuse;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
    border-radius: 0.3rem 0.3rem 0 0; }
  .card__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #4b4b4b;
    margin-bottom: 1rem;
    max-height: 4rem;
    overflow: hidden; }
  .card__desc {
    color: #4d4d4d;
    height: 8rem;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: justify;
    text-justify: auto;
    border-top: 1px solid #eee; }
  .card__source {
    font-size: 1.1rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: #747474; }

.header {
  height: 15rem;
  width: 100%;
  position: relative; }
  .header h1 {
    font-size: 3.5rem;
    color: #28b485;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%); }

.button {
  background-color: #55c57a;
  font-size: 2rem;
  width: 15rem;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: all .2s; }
  .button:hover {
    box-shadow: 0.1rem 0.2rem 1.5rem rgba(0, 0, 0, 0.35); }
  .button__refresh {
    position: absolute;
    top: 50%;
    right: 3rem;
    float: right;
    transform: translateY(-50%); }
    .button__refresh:active {
      transform: translateY(-50%) scale(0.8); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.index {
  background-color: #eee; }
