
// COLORS:

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1 : #fdfdfd;
$color-grey-light-2 : #f7f7f7;
$color-grey-light-3 : #eee;
$color-grey-light-4 : #ddd;


$color-text-1 : #4b4b4b;
$color-text-2 : #4d4d4d;
$color-text-3 : #747474;

$color-white: #fff;
$color-black: #000;


//SHADOWS
$shadow-light: rgba(0, 0, 0, 0.15);
$shadow-medium: rgba(0, 0, 0, 0.35);


//BORDER RADIUS
$radius-small: .3rem;
$radius-meduim: .6rem;
$radius-large: 10rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;