

.button {
    position: relative;
    font-size: 2rem;
    width: 19rem;
    height: 5rem;
    border-radius: 5rem;
    color: $color-white;
    cursor: pointer;
    box-shadow: $box-shadow-light;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
    backface-visibility: hidden;

    &:active {
        transform: scale(.9);
    }

    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        // background-color: orangered;
        transform: translate(-50%, -50%);
        margin-left: 1rem;
    }

   &__green {
        background-color: $color-primary;
        transition: all .2s;

        &:hover {
            box-shadow: $box-shadow-medium;
        }
    }
}

