.social {
    list-style: none;

    &__item {
        display: inline-block;
        transition: all .2s ease-in-out;
        backface-visibility: hidden;

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &:hover {
            transform: scale(1.3);
        }
    }

    &__icon {
        font-size: 3rem;
        color: $color-primary-dark;
        cursor: pointer;
    }

}
